.container {
  background-color: #1a3873;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .content {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
    padding: 20px;

    .left {
      width: 40%;

      .create-dice {
        display: flex;
        border: 1px solid white;
        height: 300px;

        .dice-bin {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          border: 1px solid white;
          width: 75%;
          .dice {
            color: white;
            font-size: 80px;
            &::after {
              display: block;
            }
            &-1::after {
              content: "\2680";
              font-size: 120px;
              color: white;
            }
          }
        }
        .number-bin {
          color: white;
          font-size: 20px;
          display: flex;
          align-self: center;
          width: 25%;
          gap: 20px;
          flex-direction: column;
        }
        .numbers {
          text-align: center;
          &:hover {
            cursor: pointer;
            color: black;
          }
        }
      }
    }
    .right {
      width: 65%;
    }
  }
}
